.wrapper {
    list-style:none;
    margin:0 0 30px;
    padding:50px 30px;
    display:flex;
    align-items: center;
}

.image{
    flex-shrink: 0;
    margin-right:30px;
    width:150px;
    height:150px;
    border-radius:50%;
}

.name {
    margin:0;
    color:#1E58FF;
    font-weight: 700;
}

.description {
    margin: 10px 0 20px;
    font-weight: 300;
}

.button {
    padding:10px;
    font-weight: 500;
    background: none;
    border: 2px solid #1E58FF;
    color:#1E58FF;
    text-decoration: none;
    font-size: 10px;
}